.mapscaler {
height: 80vh;
}

#map {
height: 100%;
}

.big{
position: fixed;
width: 200px;
height: 200px;

animation-name: rotationBig;
animation-duration: 2s;
animation-iteration-count: infinite; 
animation-timing-function: linear; 
}

.little{
position: fixed;
width: 140px;
height: 140px;

margin-top: 30px;
margin-left: 30px;

animation-name: rotationLittle;
animation-duration: 4s;
animation-iteration-count: infinite;
animation-timing-function: linear;
}

@keyframes rotationBig { 
0% {transform:rotate(0deg);} 
100% {transform:rotate(360deg);} 
} 

@keyframes rotationLittle { 
0% {transform:rotate(0deg);} 100% {transform:rotate(360deg);} } 

.preloader{
position: absolute;
left: 50%;
top: 50%;
transform: translate(-50%, -50%);
width: 200px;
height: 200px;
z-index: 10;
}

.collapsed{
 visibility: collapse;
}

.mapContainer{
position:relative;
}