body{
	background-color: #F5F3EE;
}

.image{
	max-width:100%; 
	height:auto;
	padding: 5px;
}

.thumbnail{
background-color: #ECECEA;
height: 100%;
margin-bottom: 20px;
}

.nav{
margin-top: 3vh;
}

hr{
border-color: #DDDDDD;
}

.time{
	/*vertical-align: center;*/
	/*width: auto;*/
	/*background-color: black;*/
	width:50%;
	margin-left: 25%;
	margin-right: 25%;
	margin-top: 5%;
	margin-bottom: 5%;
	/*z-index: 33;*/
}

 .hours, .minutes, .seconds{
 	font-size: 50px;
	background-image: url(images/tim_cook.png) no-repeat;
 	/*margin-left: 5vh;*/
 	/*margin-right: 5vh;*/
 	/*margin-left: 10vh;
 	margin-right: 10vh;*/
	/*width: 20%;
	height: auto;*/
}