body{
	background-color: #F5F3EE;
}

.backcolor{
	max-width:100%; 
	height:auto
}

.thumbnail{
background-color: #ECECEA;
height: 100%;
margin-bottom: 3vh;
padding: 2vh;
}

.nav{
margin-top: 3vh;
}

.resume{
background-color: #ECECEA;

}