body {
    /*background-color: #F5F3EE;*/
    /*background: #ffffff;*/
    background-image: url('../images/45degreee_fabric.png');
}

.image {
    max-width: 100%;
    height: auto;
    margin-top: 5%;
}

.thumbnail {
    /*background-color: #ECECEA;*/
    background-color: rgba(255, 255, 255, 0.5);
    margin-bottom: 20px;
    padding: 20px;
    border-radius: 15px;
}

.nav {
    margin-top: 15px;
}

hr {
    /*border-color: #DDDDDD;*/
    border-color: rgba(0, 104, 103, 0.27);
}

.time {
    width: 50%;
    margin-left: 25%;
    margin-right: 25%;
    margin-bottom: 5%;
}

.hours, .minutes, .seconds {
    font-size: 40px;
    align-self: center;
}

.skill {
    height: 100%;
    min-height: 60px;
    border-width: 0 0 0 1px;
    border-style: solid;
    border-color: #4A96AD;
    word-wrap: break-word;
}

.skillName {
    color: #107896;
    word-wrap: break-word;
}

.timeline-back {
    float: left;
    margin-top: 25px;
    background-color: #7FDBFF;
    position: absolute;
    height: 8px;
    width: 100%;
}

.timeline {
    float: left;
    margin-top: 25px;
    background-color: #ff235e;
    position: absolute;
    height: 8px;
    width: 100%;

    z-index: 5;
}

.timelineCont {
    position: relative;
}

.nav > li > a {
    margin: 5px 10px 5px 10px;
    background-color: rgba(255, 255, 255, 0.35);
    border-radius: 15px;
}

/*.nav > li > a:active{*/
/**/
/*}*/

.active > a {
    background-color: #4A96AD !important;
}